name: Test and make .unitypackage
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Setup .NET 8.x
      uses: actions/setup-dotnet@v4
      with:
        # Semantic version range syntax or exact version of a dotnet version
        dotnet-version: '8.x'
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      run: dotnet build --configuration Release
    - name: Test
      run: TestCilbox/bin/Release/net8.0/TestCilbox
    - name: "Produce cilbox unitypackage."
      timeout-minutes: 5
      run:
        .github/scripts/unitypackagegen.sh
    - uses: actions/upload-artifact@v4
      timeout-minutes: 5
      with:
        name: unitypackage_upload
        path: |
          com.cnlohr.cilbox.unitypackage


